/*@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,700;1,700&display=swap');
@import url("https://use.typekit.net/jmk3xov.css");


@keyframes hoverSpinIn {
    from {transform: rotate(0deg);}
    to {transform: rotate(45deg);}
}

@keyframes hoverSpinOut {
    from {transform: rotate(45deg);}
    to {transform: rotate(0deg);}
}

html{
    scroll-behavior: smooth;
}
/* Dropdown Button */
.settingsbtn {
    color: white;
    animation: hoverSpinOut 0.5s forwards;
    font-size: 16px;
    border: none;
    height: 4em;
    width: 4em;

    filter: invert(100%);
}

.settings:hover .settingsbtn {animation: hoverSpinIn 0.5s forwards;}

/* The container <div> - needed to position the dropdown content */
.settings {
    /*text-align: right;*/
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 1vw;
    display: inline-block;
    z-index: 10;

    /*width: auto;*/
    /*height: 100%;*/

}
/*@keyframes hoverFadeIn {*/
/*    from {filter: opacity(0%);}*/
/*    to {filter: opacity(100%);}*/
/*}*/
/*@keyframes hoverFadeOut {*/
/*    from {filter: opacity(100%);}*/
/*    to {filter: opacity(0%);}*/
/*}*/
/*.settings:hover .settings-content {animation: hoverFadeIn 0.5s forwards;}*/
/*!* Dropdown Content (Hidden by Default) *!*/
/*.settings-content {*/
/*    !*text-align: right;*!*/
/*    width: auto;*/
/*    right: 0px;*/
/*    display: block;*/
/*    position: absolute;*/

/*    background-color: #0B0A0A;*/
/*    !*min-width: 160px;*!*/
/*    box-shadow: 0px 0px 20px rgb(0,0,0);*/
/*    z-index: 1;*/
/*    animation: hoverFadeOut 0.5s forwards;*/
/*    filter: opacity(100%);*/
/*}*/


/*@keyframes hoverFadeIn {*/
/*    from {filter: opacity(0%);}*/
/*    to {filter: opacity(100%);}*/
/*}*/
/*@keyframes hoverFadeOut {*/
/*    from {filter: opacity(100%);}*/
/*    to {filter: opacity(0%);}*/
/*}*/
.settings:hover .settings-content {max-height: 100vh;}
/* Dropdown Content (Hidden by Default) */

.settings:hover .settings-list {max-height: 70vh; filter: opacity(100%);}



/*@keyframes hoverFadeIn {*/
/*    from {filter: opacity(0%);}*/
/*    to {filter: opacity(100%);}*/
/*}*/
/*@keyframes hoverFadeOut {*/
/*    from {filter: opacity(100%);}*/
/*    to {filter: opacity(0%);}*/
/*}*/

.settings-list{
    position: absolute;
    right: 0;

    box-shadow: 0px 0px 20px rgb(0,0,0);
    z-index: 1;

    list-style-type: none;
    margin: 0;
    padding: 1vw;
    overflow-y: hidden;
    overflow-x: hidden; /* Hide horizontal scrollbar */


    filter: opacity(0%);
    background: black;
    max-height: 0;
    transition: max-height .1s ease, filter 1s;

}
.settings-list label {
    display: flex;
    /*justify-content: center;*/
    /*overflow: hidden;*/

    align-items: center;
    vertical-align: middle;
    word-wrap: break-word;
}

/*#colorChangeButton {*/
/*    color: white;*/
/*}*/
#colorChangeButton:hover {
    cursor: pointer;

}





/*.container input:checked .settings {*/

/*}*/

/* Links inside the dropdown */
.settings-content p {
    padding: 1px 10px;
}

/*.settings-content input label{*/
/*    padding: 1px 10px;*/
/*}*/



/*.settings:hover .settings-content {display: block;}*/
/*.settings:not(:hover) .settingsbtn{animation: hoverSpin 0.5s forwards;}*/


/*!* Change color of dropdown links on hover *!*/
/*.settings-content a:hover {background-color: #ddd;}*/

/*!* Show the dropdown menu on hover *!*/

/*!* Change the background color of the dropdown button when the dropdown content is shown *!*/

body {
    background: #0B0A0A;
    font-family: "Cousine", monospace;
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

:root {
    --dark-bg-flat: rgba(28, 40, 54, 1.0);
    --dark-bg: rgba(28, 40, 54, 0.4);
    /*--spacing: 350px;*/

    font-weight: 400;
    font-style: normal;
}

canvas {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.front {
    position: static;
    overflow: hidden;
    /*background: red;*/
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.front h1 {
    position: relative;


    font-size: 3rem;
    /*background: -webkit-linear-gradient(left top,#D7FDF0, #A799B7);*/
    /*background: -moz-linear-gradient();*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 1vw;

    /*padding:0 1vw;*/
    /*!*padding: 1vw;*!*/
}

.backgroundwrapper {
    position: absolute;
    text-align: center;
    /*width: 100vw;*/

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 0;
    background: #0B0A0A;
    filter: drop-shadow(0 0 1.75rem #0B0A0A);

    /*backdrop-filter: invert(10%);*/
}


.pageSection {
    position: static;
    /*width: vw;*/
    /*height: 100vh;*/
    margin: 1vh;
    padding: 1vh;
    background: #0B0A0A;
    filter: drop-shadow(0 0 1.75rem #0B0A0A);

    /*background: #0B0A0A;*/
}

#passionText {
    text-decoration: none;
    background: linear-gradient(45deg,
        rgba(187,109,240,1) 16%,
        rgb(245,145,22) 47%,
        rgb(212,54,160) 70%);
    background-position-x:0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.menu {
    position: fixed;
    right: 0;
    top: 50%;
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu a {
    text-decoration: none;
}

a {
    /*text-decoration: none;*/
    color: white;
}
